@import "src/styles.scss";

/* login */

.oc_login_title {
  width: 183px;
  height: 25px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $aquamarine-two;
}

.oc_login_container {
  @extend .oc_container_apricot_grapefruit;
  height: 1022px;
}

.oc_login_where_platforms_are_born {
  @extend .oc_container_transparent;
  margin: 100px 0;
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 200;
  text-align: center;
  color: $white;
  text-shadow: 0 1px 0 $grapefruit;
}

/* login box */

.oc_login_box {
  @extend .oc_container_content;
  width: 215.3px;
  height: 297.7px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: inset 0 0.2px 1px 0 $black-50;
  border: solid 1px $white;
}

.oc_login_inputs {
  margin: 0 18px;
  text-align: center;

  input {
    padding: 10px 0 7px 0;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #2c2f30;
  }
}

.oc_login_socials {
  margin: 10px auto;
  text-align: center;

  .face_book {
    margin: 5px;
    width: 39px;
    height: 39px;
    object-fit: contain;
  }

  .linked_in {
    margin: 5px;
    width: 40px;
    height: 39px;
    object-fit: contain;
  }
}

.oc_login_button_submit {
  @extend .oc_button;
  width: 137.1px;
  height: 34.3px;
  padding: 0 !important;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, $apricot, $grapefruit);
  box-shadow: 0 1px 1px 0 rgba(196, 196, 196, 0.5);
}
.oc_login_button_text {
  width: 49px;
  height: 32px;
  object-fit: contain;
  font-family: MisterBrown;
  font-size: 32px;
  text-align: center;
  color: $white;
}
//TODO: fix css order problem
.oc_login_button_forgot {
  @extend .oc_button;
  width: 87px !important;
  height: 13px !important;
  font-family: Montserrat !important;
  font-size: 10px !important;
  font-weight: 300 !important;
  text-align: center !important;
  color: #2c2f30 !important;
}

.oc_login_logo {
  position: relative;
  display: block;
  /* left: 24.1px; */
  /* top: 42.1px; */
  margin: 20px auto;
  width: 133.1px;
  height: 42.9px;
  object-fit: contain;
}
