@import "src/styles.scss";

.oc_topbar {
  @include container_white;
  @include horizontal_align;
  align-items: center;
  justify-content: space-between;
  height: 43px;
}

/* login */

.oc_login_title {
  width: 183px;
  height: 25px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $aquamarine-two;
}

/* account */

.oc_account_button_group_center {
  @include button_group;
  width: 11em;
}

.oc_account_button_group_right {
  @include button_group;
  position: relative;
  margin-right: 2em;
  width: 4em;
}

.oc_account_button {
  @include button;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  color: $dark-grey;
}

.oc_account_button_title {
  margin-left: 0.2em;
}

/* account menu */

.oc_account_menu {
  @include horizontal_container;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  right: 0;
  width: 228.2px;
  height: 352.2px;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: .5em;
  }
}

.oc_account_menu_account_name {
  @include horizontal_container;
  justify-content: flex-start;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  color: $dark-grey;

  img {
    width: 2.5em;
    margin-right: 0.5em;
  }
}
.oc_account_menu_item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  color: $light-grey;

  &:hover {
    color: $dark-grey;
  }
}

.oc_logout_button_text {
  @include horizontal_container;

  width: 107.5px;
  height: 26.1px;
  border-radius: 100px;
  background-image: linear-gradient(104deg, $apricot, $grapefruit);

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: $white;
}
