@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

// Maximise the viewport
html, body {
  height: 100vh;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;
  margin:0;
}

#main {
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}
