.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  line-height: 1rem;
  h1 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.4rem;
  }
}
