.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  // line-height: 0.6rem;
  color: white;

  img {
    width: 200px;
  }
  h1 {
    font-size: 1.8rem;
    padding: 10px;
  }
}
