@import url('https://fonts.google.com/specimen/Montserrat');

// Maximise the viewport
html, body {
  height: 100vh;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 16px;
  margin:0;
}

#main {
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}
