@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400,500");

// Maximise the viewport
html, body {
  height: 100vh;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 16px;
  margin:0;
}

#main {
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}
